application/config/config.php

#dot-file exceptions

.*

!.gitignore

!.gitkeep

!.htaccess

!.sf

!.gitattributes
/styles/gringegreen/images/Thumbs.db
/application/controllers/admin/updater.php
/tmp/*
!/tmp/index.html
!/tmp/readme.txt
!/tmp/runtime/index.html
!/tmp/runtime/cache/index.html
!/tmp/assets/index.html
!/tmp/upload/index.html

/nbproject
.svn
/third_party/jqgrid/src
.settings/org.eclipse.php.core.prefs
.buildpath